/** basic style sets **/
* { margin: 0; padding: 0; line-height: 1; }

body { font-size: 62.5%; background: #373737; font-family: Arial, Tahoma, sans-serif; }

img { border: 0; }

div, section, span { display: block; }

a { color: #eee; }

#dries { float:left; }
#dries_counter { font-size: 200px; color: white; font-weight:bold;}

#lian { float: right; }
#lian_counter { font-size: 200px; color: white; font-weight:bold;}

.name { font-size: 100px; color: white; }

#lian .name {
	text-align: right;
}

#clock-ticker { display: block; margin-bottom: 15px;}
#clock-ticker .block { position: relative; color: #fff; font-weight: bold; float: left; margin-right: 22px; }

#clock-ticker .block .flip-top { width: 88px; height: 39px; line-height: 75px; font-size: 55px; background: url('img/flip-top.png') no-repeat; text-align: center; }
#clock-ticker .block .flip-btm { width: 88px; height: 40px; background: url('img/flip-btm.png') no-repeat; text-align: center; }

#clock-ticker .block .label { color: #fbfbfb; font-weight: bold; font-size: 14px; text-transform: uppercase; width: 88px; line-height: 35px; text-align: center; font-family: "Calibri", Arial, sans-serif; text-shadow: 1px 1px 0px #333; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.spacer {margin-left: 150px;}

#controls { position: absolute; bottom: 30px; margin-left: 500px;}
#dries_controls { float:left; width: 300px; height: 20px; padding: 10px; border: 1px solid #eee; }
#lian_controls { float:right; width: 300px; height: 20px; padding: 10px; border: 1px solid #eee; }
#general_controls { margin-top: 20px; }

.header { position: absolute; top: 50px; color: white; font-size: 48px; margin-left: 45%;}

#round1 #question_counter { font-size: 80px; color: white; text-align: center; padding: 50px; }
#round1 #question_pane { font-size: 80px; color: white; text-align: center; padding: 50px; }
#round1 #question_pane.score { color: green; }

#round2 { padding: 50px; }
#round2 .card { float:left; width: 250px; height: 150px; background-color: #eee; border: 1px solid black; padding: 10px; margin: 10px; font-size: 40px; text-align: center; vertical-align: middle; color: black;}
#round2 .card.correct { background-color: green; color: white; }
#game_screen { font-size: 150px; color:white; text-align:center }

#round3 .question_pane_r3 { width: 100%;}
#round3 #question_counter { font-size: 80px; color: white; text-align: center; padding: 50px; }
#round3 #question_pane { font-size: 80px; color: white; text-align: center; padding: 50px; }
#round3 #question_pane.score { color: green; }
#round3 .r3_answer { font-size: 8px; color: gray; width:18%; height:170px; border: 1px solid white; text-align: center; margin:20px; float: left; padding-top:30px; }
#round3 .highlight { color: white; background: green; font-size: 48px; display:table-cell; vertical-align: middle;}

